

.street_hnumber {
    grid-area: header1;
}

.localite_cp {
    grid-area: header2;
}
.names {
    grid-area: name;
}

.gap {
    grid-area: gap;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 100px 100px 600px 100px 100px 100px;
    grid-gap: 7px;
    padding: 5px;
    min-height: 0px;
    min-width: 0px;
    position: absolute;    
    left: 52.5%;
    grid-template-areas: 
    "name name header1 gap header2 header2";
    -moz-transform: translateX(-50%) translateY(10%);
    -webkit-transform: translateX(-50%) translateY(10%);
    transform: translateX(-50%) translateY(10%);
    background-color: GhostWhite;
}

.grid-container > div {
    background-color: Ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;    
}

.val {
    grid-column-start: 1;
    grid-column-end: 6;
}

.grid-container .valid_button {
    position: relative;
	display: block;
	padding: 19px 39px 19px 39px;
	color: #FFF;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	background: #8E49E8;
  	text-transform: uppercase;    
}

img.resize {
    width: 100px;
    height: 100px;
}

.btn-plus {
    position: relative;
    left: 10%;
    border: 0;
    background-color: Ghostwhite;
}
.btn-minus {
    position: relative;
    right: 10%;
    border: 0;
    background-color: Ghostwhite;
}
