.grid-container {
    display: inline-grid;
    grid-template-columns: 200px 600px 200px;
    grid-gap: 10px;
    padding: 5px;
    position: absolute;
    top: 20%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

img.resize {
    width: 100px;
    height: 100px;
}