.absolute {
    position: absolute;
    top: 25%;
    left: 22.5%;
}
.grid-container {
    display: inline-grid;
    grid-template-columns: 100px 100px 600px 100px 100px 100px;
    grid-gap: 7px;
    padding: 5px;
    position: relative;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: GhostWhite;
}

.grid-container > div {
    background-color: Ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;    
}

img.resize {
    width: 100px;
    height: 100px;
}

.btn-plus {
    position: relative;
    left: 10%;
    border: 0;
    background-color: Ghostwhite;
}
.btn-minus {
    position: relative;
    right: 10%;
    border: 0;
    background-color: Ghostwhite;
}